.snapping-pane {
	height: 100vh;	/* each snapping section will be as tall as the screen */
}
.nav-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
}
nav button {
	width: 3vh;
	height: 3vh;
	background-color: transparent;
	border: 1px solid gray;
	border-radius: 1.5vh;
}
nav span {
	display: inline-block;
	vertical-align: super;
	line-height: 3vh;
	color: gray;
}
nav div {
	text-align: right;
}
.active {
	background-image: radial-gradient(
		hsla(0, 0%, 30%, 1) 0%,
		hsla(0, 0%, 60%, 1) 15%,
		hsla(0, 0%, 70%, 1) 28%,
		hsla(0, 0%, 90%, 1) 70%
	);
}
#background1 {
	background-color: lightblue;
}
#background2 {
	background-color: lightyellow;
}
#background3 {
	background-color: lightpink;
}
#background4 {
	background-color: lightgray;
}
